<div class="section">
  <h1>Time to go for a test drive</h1>

  <p>Car: <%= YAML.load(session[:car]).show_car %></p>
  <p>Car: <%= YAML.load(session[:car]).inspect %></p>
</div>

<div class="heading">
  <p id="speed">Current Speed: <%= YAML.load(session[:car]).speed %>mph</p>

  <h3>Your lights are: <%= YAML.load(session[:car]).show_lights %></h3>
</div>

<div class="section">
  <form action="/simulate/turn_lights_on_or_off" method="get">
    <input type="submit" value="lights"/>
  </form>

  <form action="/simulate/set_parking_brake" method="get">
    <input type="submit" value="parking_brake"/>
  </form>

  <form action="/car/accelerate" method="get">
    <input type="submit" value="accelerate"/>
  </form>

  <form action="/car/brake" method="get">
    <input type="submit" value="brake"/>
  </form>
</div>

<h4><%= flash[:alert] %></h4>
